<settings>
    <setting id="usecustomactionbutton5" type="bool">true</setting>
    <setting id="hidehomebuttonvideo" type="bool">false</setting>
    <setting id="skinhelper.enablewallbackgrounds" type="bool">false</setting>
    <setting id="hidehomebuttonaddon" type="bool">false</setting>
    <setting id="hidevideobackground" type="bool">false</setting>
    <setting id="hidehomebuttonapps" type="bool">true</setting>
    <setting id="hidehomebuttonrecentalbums" type="bool">false</setting>
    <setting id="hidehomebuttonfilemanager" type="bool">false</setting>
    <setting id="skinhelper.enablepvrthumbs" type="bool">false</setting>
    <setting id="usecustomicon4" type="bool">false</setting>
    <setting id="usecustomactionbutton2" type="bool">true</setting>
    <setting id="skinhelper.enabledaynightthemes" type="bool">false</setting>
    <setting id="skinhelper.enableanimatedposters" type="bool">false</setting>
    <setting id="hidehomevisualisation" type="bool">true</setting>
    <setting id="hidehomebuttonweather" type="bool">false</setting>
    <setting id="hidehomebuttonrecentmovie" type="bool">true</setting>
    <setting id="smartshortcuts.favorites" type="bool">false</setting>
    <setting id="usecustomactionbutton4" type="bool">false</setting>
    <setting id="hidehomebuttonfavourites" type="bool">false</setting>
    <setting id="skinhelper.enableextraposter" type="bool">false</setting>
    <setting id="usecustomicon2" type="bool">true</setting>
    <setting id="smartshortcuts.playlists" type="bool">false</setting>
    <setting id="usecustomicon3" type="bool">true</setting>
    <setting id="hidehomebuttontime" type="bool">false</setting>
    <setting id="usecustomlabelbutton4" type="bool">false</setting>
    <setting id="smartshortcuts.emby" type="bool">false</setting>
    <setting id="hidevizbackground" type="bool">false</setting>
    <setting id="hidehomeicon5" type="bool">false</setting>
    <setting id="hidehomebuttonpictures" type="bool">false</setting>
    <setting id="hidehomeicon1" type="bool">false</setting>
    <setting id="usecustomicon6" type="bool">false</setting>
    <setting id="use_startup_playlist" type="bool">true</setting>
    <setting id="hidehomebuttonmusic" type="bool">false</setting>
    <setting id="usecustomicon5" type="bool">false</setting>
    <setting id="usecustomlabelbutton3" type="bool">true</setting>
    <setting id="usecustomactionbutton1" type="bool">true</setting>
    <setting id="subtitlesourcechooservisible" type="bool">false</setting>
    <setting id="usecustomlabelbutton2" type="bool">true</setting>
    <setting id="hidehomeicon2" type="bool">false</setting>
    <setting id="hidehomebuttonprograms" type="bool">false</setting>
    <setting id="showhomebuttonlivetv" type="bool">false</setting>
    <setting id="hidehomeicon3" type="bool">false</setting>
    <setting id="usecustombackground" type="bool">false</setting>
    <setting id="usecustomactionbutton6" type="bool">false</setting>
    <setting id="hidehomeicon4" type="bool">false</setting>
    <setting id="skinhelper.disablescreensaveronfullscreenmusic" type="bool">false</setting>
    <setting id="skinhelper.enableextendedart" type="bool">false</setting>
    <setting id="usecustomactionbutton3" type="bool">true</setting>
    <setting id="usecustomlogo" type="bool">false</setting>
    <setting id="usecustomicon1" type="bool">true</setting>
    <setting id="hidehomebuttontvshows" type="bool">false</setting>
    <setting id="hidehomebuttonmovies" type="bool">false</setting>
    <setting id="showhomebuttonradio" type="bool">false</setting>
    <setting id="usecustomlabelbutton6" type="bool">false</setting>
    <setting id="hidedaynight" type="bool">true</setting>
    <setting id="hidehomebuttonlogo" type="bool">false</setting>
    <setting id="skinhelper.enableextrafanart" type="bool">false</setting>
    <setting id="usecustomlabelbutton5" type="bool">true</setting>
    <setting id="hidehomebuttonlogob" type="bool">false</setting>
    <setting id="usecustomlabelbutton1" type="bool">true</setting>
    <setting id="hidehomebuttonmusicplayertitle" type="bool">false</setting>
    <setting id="skinhelper.enablemusicart" type="bool">false</setting>
    <setting id="skinhelper.forcedviews.enabled" type="bool">false</setting>
    <setting id="usecustommusicosd" type="bool">false</setting>
    <setting id="smartshortcuts.plex" type="bool">false</setting>
    <setting id="CustomIcon3Path" type="string">/storage/.kodi/addons/plugin.audio.radio_de/icon.png</setting>
    <setting id="HomeAddonButton4" type="string"></setting>
    <setting id="HomeAddonButton7" type="string"></setting>
    <setting id="HomeAddonButton1" type="string"></setting>
    <setting id="HomeAddonButton8" type="string"></setting>
    <setting id="CustomLogoPath" type="string"></setting>
    <setting id="skinhelper.colortheme.night.time" type="string"></setting>
    <setting id="CustomActionButton1" type="string">PlayMedia(&quot;plugin://plugin.audio.radio_de/station/2261&quot;)</setting>
    <setting id="CustomActionButton5" type="string">ActivateWindow(10502,&quot;plugin://plugin.audio.icecast/&quot;)</setting>
    <setting id="HomeAddonButton13" type="string"></setting>
    <setting id="CustomLabelButton3" type="string">radio.de</setting>
    <setting id="CustomActionButton4" type="string"></setting>
    <setting id="HomeAddonButton6" type="string"></setting>
    <setting id="profilesettings" type="string">1</setting>
    <setting id="CustomIcon5Path" type="string"></setting>
    <setting id="CustomLabelButton6" type="string"></setting>
    <setting id="HomeAddonButton11" type="string"></setting>
    <setting id="HomeAddonButton2" type="string"></setting>
    <setting id="CustomLabelButton2" type="string">StarFM</setting>
    <setting id="CustomIcon1Path" type="string">/storage/icons/radio_eins.png</setting>
    <setting id="CustomIcon6Path" type="string"></setting>
    <setting id="HomeAddonButton15" type="string"></setting>
    <setting id="HomeAddonButton5" type="string"></setting>
    <setting id="skinsettings" type="string">6</setting>
    <setting id="HomeAddonButton9" type="string"></setting>
    <setting id="CustomIcon4Path" type="string"></setting>
    <setting id="CustomActionButton3" type="string">ActivateWindow(10502,&quot;plugin://plugin.audio.radio_de/&quot;)</setting>
    <setting id="HomeAddonButton10" type="string"></setting>
    <setting id="HomeAddonButton3" type="string"></setting>
    <setting id="skinhelper.autoclosemusicosd" type="string"></setting>
    <setting id="HomeAddonButton12" type="string"></setting>
    <setting id="CustomLabelButton5" type="string">Icecast</setting>
    <setting id="skinhelper.colortheme.day.time" type="string"></setting>
    <setting id="HomeAddonButton14" type="string"></setting>
    <setting id="CustomActionButton2" type="string">PlayMedia(&quot;plugin://plugin.audio.radio_de/station/2452&quot;)</setting>
    <setting id="CustomLabelButton1" type="string">radio eins</setting>
    <setting id="CustomLabelButton4" type="string">Icecast</setting>
    <setting id="Startup_Playlist_Path" type="string"></setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="CustomIcon2Path" type="string">/storage/icons/starfm.png</setting>
    <setting id="SkinHelper.RandomFanartDelay" type="string"></setting>
    <setting id="CustomActionButton6" type="string"></setting>
    <setting id="CustomBackground" type="string"></setting>
    <setting id="skinhelper.autoclosevideoosd" type="string"></setting>
</settings>
